.slider{
    display: flex;
    height: 470px;
    background: url(../img/slides/02.png), url(../img/slides/slide3.jpg) no-repeat;
    background-size: auto, cover;

    &__form-div{
        vertical-align: middle;
        align-content: center;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
        align-self: center;
        margin: 0 auto;
    }

    &__form{
        padding: 3em 1em;
        background: rgba($primary-color, 0.7);
        border-radius: 12px;
        text-align: center;
        width: 100%;

        &__h3{
            padding: 0;
            color: white;

            &__span{
                display: block;
            }
        }

        &__input-box{
            margin: 1em 0;
            overflow: hidden;
        }

        &__input{
            font-size: 0.9em;
            width: 100%;
            display: block;

            &:focus{
                background: lighten($black, 55%);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            }
        }

        &__button, &__input{
            display: block;
            width: 100%;
            padding: 0.5em 1em;
            margin: 0.2em 0;
        }

        &__button{
            background: $secondary-color;
        }

        &__p{
            color: white;
            display: block;
            font-size: 14px;

            &__a{
                color: $secondary-color;
            }
        }
    }
}


@include pc{
    .slider{

        &__form{
            width: 600px;

            &__h3{
                &__span{
                    display: inline;
                }
            }

            &__input-box{
                margin: 0.5em;
                display: flex;
                border: 2px solid lighten($black, 30%);
                border-radius: 3px;
            }

            &__input{
                padding: 0.5em 1em;
                font-size: 0.9em;
                flex-grow: 1;

                &+input{
                    border-left: 2px solid lighten($black, 30%);
                }
            }

            &__button, &__input{
                display: inline;
                width: auto;
                margin: 0;
            }

            &__button{
                background: $secondary-color;
                padding: 0.5em 1em;

                &__span{
                    display: none;
                }
            }

            &__p{
                color: white;
                display: block;
                font-size: 14px;

                &__a{
                    color: $secondary-color;
                }
            }
        }
    }

}
