.three-column{

    &__div{
        margin-bottom: 3em;
    }

    &__div-title{
        padding-bottom: 2em;
    }

    &__div-h4{
        padding-bottom: 0;
    }

    &__div-desc{
        font-size: 0.8em;
    }

}

.trending-products{
    &__div{
        display: flex;

        &+div{
            @extend %list-border-divider;
        }
    }

    &__img{
        width: 80px;
    }

    &__content{
        flex-grow: 1;
        padding-left: 1em;
        @extend %font-12;
    }

    &__content-name{
        @extend %small-h4;
    }

    &__content-reviews-number{
        display: block;
    }
}

.latest-issues{

    &__div{
        @extend %font-12;

        &+div{
            @extend %list-border-divider;
        }
    }

    &__div-h4{
        @extend %small-h4;
    }

    &__div-p{
        color: $secondary-color;
    }

    &__div-name{
        font-family: $font-bold;
    }
}

.latest-news{
    &__div{

    }
}

// this should be extracted as a module

.comments{
    display: flex;
    @extend %font-12;

    &__time{
        display: block;
        width: 100px;
        color: $secondary-color;
        font-size: 0.9em;
    }

    &+div{
        @extend %list-border-divider;
    }

    &__img{
        width: 40px;
        border-radius: 50%;
        height: 40px;
    }

    &__body{
        flex-grow: 1;
        padding: 0 1em;

        &__time{
            // display: block;
            color: $secondary-color;
            font-size: 0.8em;
        }
    }

    &__reaction{
        display: flex;
        margin-top: 1em;

        &__like{
            border: 1px solid darken($grey-color, 5%);
            @extend %button;
        }

        button{
            &+button{
                margin-left: 0.5em;
            }
        }

        &__read{
            background: $red;
            color: white;
            @extend %button;
        }

        &__write{
            background: $secondary-color;
            @extend %button;
            color: white;
        }
    }

    &__message-box{
        border-radius: 6px;
        border: 1px solid darken($grey-color, 5%);
        background: lighten($grey-color, 5%);
        padding: 0.5em 1em;
        margin-top: 1em;
    }
}

.join-community{
    background: url('../img/avatar_all.png') rgba($primary-color, 0.9);

    &__div{
        text-align: center;
        color: white;
    }

    &__icon{
        display: block;
        font-size: 2em;
    }

    &__h2{
        color: white;
        padding: 0;
    }

    &__span{
        font-style: italic;
        font-size: 12px;
    }

    &__social{
        font-size: 12px;
        margin: 1em 0;

        div{
            &+div{
                margin-top: 1em;
            }
        }

        &__gplus, &__facebook{
            color: white;
            padding: 12px 24px;
            font-size: 1.2em;
        }

        &__gplus{
            background: #df2325;

            i{
                border-right: 1px solid darken(#df2325, 5%);
                padding-right: 1em;
                margin-right: 1em;
            }
        }

        &__facebook{
            background: #3f629d;

            i{
                border-right: 1px solid darken(#3f629d, 5%);
                padding-right: 1em;
                margin-right: 1em;
            }
        }
    }
}

.featured-brands{
    &__div{
        text-align: center;
    }

    &__div-h3{
        padding: 0;
    }

    &__div-span{
        font-size: 0.9em;
    }

    &__slider{
        display: flex;
        overflow: hidden;
        align-items: center;
        vertical-align: middle;
    }

    &__slider-img{
        display: block;
        width: 120px;
        float: left;
        margin: 2em auto;

        &+img{
            margin-left: 3em;
        }
    }
}


@include pc{
    .three-column{
        display: flex;
        justify-content: space-between;

        &__div{
            flex-basis: 30%;
            margin-bottom: 0;
        }
    }

    .join-community{
        &__social{
            div{
                display: inline-block;

                &+div{
                    margin-left: 1em;
                    margin-top: 0;
                }
            }
        }
    }
}
