.home-issues{
    background: lighten($grey-color, 5%);
    padding: 2em;

    &__wrap{
        padding: 1em 0;
    }
}

.issues-sidebar{
    display: none;
}

.issues{
    font-size: 14px;

    &__box{

        &+div{
            border-top: 1px solid lighten($grey-color, 3%);
            margin-top: 2em;
            padding-top: 2em;
        }
    }

    &__box-first{

        &__ul{
            display: flex;
        }

        &__li{
            text-align: center;
            display: block;
            width: 50px;
        }

        &__li-p{
            font-size: 1.5em;
        }

        &__li-span{
            font-size: 0.7em;
        }
    }

    &__box-second{
        &__h4{
            font-size: 1.3em;
            padding: 0;
            margin: 0;
        }

        &__info{
            display: flex;
            justify-content: space-between;
        }

        &__info-tag{

            &__a{
                background: lighten($grey-color, 3%);
                display: inline-block;
                padding: 0.3em 0.5em;
                font-size: 0.8em;
            }
        }

        &__info-details{
            &__p{
                font-size: 0.8em;
            }
        }

        &__p{
            display: block;
            padding: 0.5em 0;
        }
    }
}

@include pc{
    .home-issues{

        &__wrap{
            display: flex;
        }

    }

    .issues-sidebar{
        display: block;
        width: 25%;
        padding-left: 2em;
    }

    .issues{
        flex-grow: 1;

        &__box{
            background: white;
            padding: 1em 2em;
            display: flex;
            justify-content: space-between;

            &+div{
                background: white;
                margin-top: 0.3em;
                padding-top: 1em;
            }
        }

        &__box-first{
            width: 150px;
        }

        &__box-second{
            flex-grow: 1;
            padding-left: 2em;
            display: block;
        }
    }
}
