.section-title{
    text-align: center;

    &__span{
        display: block;
        width: 30px;
        height: 2px;
        margin: 0 auto;
        background-color: $secondary-color;
    }

    &__h4{
        margin: 0;
        padding: 0;
    }

    &__h4-sm{
        font-size: 1.3em;

        @include pc{
            font-size: 1.4em;
        }
    }

    &__button{
        background: $green;
        color: white;
        padding: 0.3em 1em;
        border-radius: 3px;
    }

    &__p{

        &--foot{
            font-size: 0.8em;
        }

    }
}

 .section-padding{
     padding: 2em 0;
 }

// @import pc{
//
// }
