.top-bar{
    display: block;
    background: $primary-color;
    height: 5px;

    @include phone{
        display: none;
    }
}

.header-section{
    background: lighten($grey-color, 7%);
}

.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img{
        width: 150px;
    }

    &__head-links{
        display: none;
    }

    &__h1{
        padding: 0.2em 0;
        font-size: inherit;
    }

    &__register{
        background: $secondary-color;
        padding: 0.8em 1em;
        border-radius: 6px;
        color: white;

        i{
            color: inherit;
        }
    }

    &__register, &__sign-in{
        text-transform: uppercase;
        font-size: 0.8em;
    }

    &__mobile-icon{
        i{
            font-size: 1.6em;
        }
    }
}

@include pc{

    .header-bar{

        &__img{
            width: 100%;
        }

        &__mobile-icon{
            display: none;
        }

        &__head-links{
            display: block;
        }
    }
}
