.nav-bar{
    background: $primary-color;
    transition: all .15s ease;

    .wrap{
        width: 100%;
    }

    &__li{
        position: relative;

        &+li{
            border-top: 1px solid darken($primary-color, 3%);
        }

        &--has-child{

        }

        &--has-child-link{
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }

    }

    &__a{
        color: $white-pri-color;
        padding: 0.7em 2em;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__inner-ul{
        position: relative;
    }

    &__inner-li{
        width: 100%;
        display: block;

        &__a{
            background: darken($primary-color, 3%);
            display: block;
            color: white;
            padding: 0.7em 2em;
            color: darken($white-pri-color, 20%);

            &:before{
                content: "\f07b";
                font-family: FontAwesome;
                margin-right: 1em;
                color: darken($white-pri-color, 20%);
            }
        }

        &+li{
            border-top: 1px solid darken($primary-color, 6%);
        }
    }
}

.no-display{
    display: none;
}

@include pc{
    .nav-bar{
        display: block !important;

        &__li{
            display: inline-block;

            &+li{
                margin-left: 1em;
                border-top: none;
            }
        }

        &__inner-ul{
            position: absolute;
            width: 250px;
        }

        &__inner-li{
            position: relative;

            &__a{
                padding: 0.5em 2em;
                &:hover{
                    text-decoration: none;
                    background: $grey-color;
                    color: $black;
                }
            }
        }

        &__a{
            padding: 0.7em 2em;

            i{
                padding-left: 1em;
            }

            &:hover{
                text-decoration: none;
                background: $grey-color;
                color: $black;
            }
        }
    }

    .mobile-nav-invi{
        display: none;
    }
}
