
// Fonts
@font-face { font-family: "museo"; src: url("./fonts/museo/MuseoSans_500-webfont.eot?v=2.0.0"); src: url("./fonts/museo/MuseoSans_500-webfont.eot?v=2.0.0#iefix") format("embedded-opentype"), url("./fonts/museo/MuseoSans_500-webfont.ttf?v=2.0.0") format("truetype"), url("./fonts/museo/MuseoSans_500-webfont.woff?v=2.0.0") format("woff"), url("./fonts/museo/MuseoSans_500-webfont.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "roboto-thin"; src: url("./fonts/roboto/Roboto-Light.eot?v=2.0.0"); src: url("./fonts/roboto/Roboto-Light.eot?v=2.0.0#iefix") format("embedded-opentype"), url("./fonts/roboto/Roboto-Light.ttf?v=2.0.0") format("truetype"), url("./fonts/roboto/Roboto-Light.woff?v=2.0.0") format("woff"), url("./fonts/roboto/Roboto-Light.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "roboto-regular"; src: url("./fonts/roboto/Roboto-Regular.eot?v=2.0.0"); src: url("./fonts/roboto/Roboto-Regular.eot?v=2.0.0#iefix") format("embedded-opentype"), url("./fonts/roboto/Roboto-Regular.ttf?v=2.0.0") format("truetype"), url("./fonts/roboto/Roboto-Regular.woff?v=2.0.0") format("woff"), url("./fonts/roboto/Roboto-Regular.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }


// Variables
@import "partials/reset";
@import "partials/animate";
@import "partials/variables";
@import "partials/media";
@import "partials/mixin";
@import "partials/general";

// page styles
@import "header/header";
@import "header/nav-bar";

// body styles import here
@import "body/body";
@import "body/page-genStyles";

// home page styles/modules
@import "body/home-slides";
@import "body/home-topBrands";
@import "body/home-issues";
@import "body/home-threeColumns"; //trending product column

// components here
@import "component/topBrands";

// footer import
@import "footer/footer";
