.footer{
    background: $primary-color;
}

.footer-content{
    padding: 2em 0;

    &__box{
        color: $white-pri-color;
        font-size: 14px;
    }

    &__box2, &__box3{
        color: $white-pri-color;
        font-size: 14px;

        &__h4{
            color: darken($white-pri-color, 27%);
            text-transform: uppercase;
        }

        &__li{
            &+li{
                border-top: 1px solid darken($primary-color, 2%);
                margin-top: 3px;
            }
        }

        &__a{
            padding: 3px 0;
            display: block;

            &:hover{
                text-decoration: none;
                color: darken($white-pri-color, 27%);
            }
        }
    }

    &__box1{
        &__img{
            width: 150px;
        }

        &__article{
            color: $white-pri-color;

            a{
                color: $secondary-color;
            }
        }

        &__copyright{
            display: block;
            margin-top: 2em;
            font-family: $font-bold;
            color: $white-pri-color
        }

        &__social-icon, &__article{
            padding-bottom: 2em;
        }

        &__social-icon-ul{
            // display: flex;
        }

        &__social-icon-li{
            display: inline-block;
            font-size: 2em;

            &+li{
                margin-left: 1em;
            }
        }

        &__social-icon-li-a{
            padding: 12px 16px;
            display: block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: darken($primary-color, 1%);
            display: flex;
            align-items: center;
            vertical-align: middle;

            i{
                margin: 0 auto;
            }

            &:hover{
                background: $white-pri-color;
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}

.footer-copyright{
    &__p{
        color: darken($white-pri-color, 27%);
        border-top: 1px solid darken($primary-color, 3%);
        padding: 1em;
        margin-bottom: 3em;
        font-family: $font-bold;
    }
}

@include pc{
    .footer-content{
        display: flex;
        justify-content: space-between;
        padding: 3em 0;

        &__box1{
            width: 50%;
        }

        &__box2, &__box3{
            width: 18%;
        }
    }
}
