%small-h4{
    padding: 0;
}

%list-border-divider{
    border-top: 1px solid lighten($grey-color, 5%);
    padding-top: 1em;
    margin-top: 1em;
}

%font-12{
    font-size: 12px;
}

%button{
    padding: 0.2em 0.5em;
    border-radius: 3px;
}
