*{
    color: $black;
    outline: none;
}

body{
    font-size: 100%;
    line-height: 1.5;
    font-family: $font;
}

h1, h2, h3, h4, h5{
    font-family: $font-bold;
    padding: 1em 0;
    font-weight: normal;
}

h1, h2, h3{
    font-family: $header-font;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

h4{
    font-size: 1.4em;
}

h5{
    font-size: 1.2em;
}

a{
    color: inherit;
    text-decoration: none;
    font-family: $font-bold;
    transition: all .15s ease;

    &:hover{
        text-decoration: underline;
    }
}

button{
    background: inherit;
    border: none;
    font-size: inherit;

    &:hover{
        cursor: pointer;
    }
}

img{
    width: 100%;
}

input{
    border: 0;
}

.wrap{
    margin: 0 auto;
    width: 80%;
    padding: 1em 0;

    @include pc{
        width: 1170px !important;
    }
}

.no-padding{
    padding: 0;
}

@include pc{
    .extra-padding{
        padding: 3em 0;
    }
}

.not-mobile{
    @include pc{
        display: none !important;
    }
}

.show-class{
    display: block;
}

.no-display{
    display: none;
}

ul, ol, li, span, i{
    color: inherit;
}

a{
    &:active{
        text-decoration: none;
    }
}
