@mixin phone{
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin phone-tablet{
    @media screen and (max-width: 868px){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: 481px){
        @content;
    }
}

@mixin tablet-only{
    @media screen and (min-width: 481px) and (max-width: 922px){
        @content;
    }
}

@mixin pc{
    @media screen and (min-width: 960px){
        @content;
    }
}
