// Body


// Colors
$primary-color: #003553;
$secondary-color: #f9a21d;
$grey-color: #e4e7ec;
$footer-bg: #333;
$black: #666666;
$white-pri-color: darken(white, 20%);
$red: #d9534f;
$green: #08A457;

// Brands


// Typography or Fonts
$header-font: 'museo';
$font: 'roboto-thin';
$font-bold: 'roboto-regular';
