.topBrand{
    width: 90%;
    margin: 0 auto;
}

.topBrands{
    margin-bottom: 1.8em;
    border: 1px solid lighten($grey-color, 5%);
    font-size: 14px;

    &__desc{
        padding: 0.5em 2em;

        &__title, &__text{
            padding-bottom: 0.5em;
        }

        &__title{

        }

        &__text{
        }
    }

    &__img{
        height: 180px;
        overflow: hidden;

        img{
            object-fit: cover
        }
    }

    &__rating{
        padding-top: 0.5em;

        &__stars{

        }

        &__stars-i{
            color: $secondary-color;
            font-size: 1.5em;
        }

        &__numbers, &__c2action{
            font-size: 0.8em;
        }

        &__numbers{
            display: block;
            font-size: 0.8em;
            font-family: $font-bold;
        }

        &__c2action{
            background: $secondary-color;
            border-radius:3px;
            padding: 6px;
            color: white;
            font-family: $header-font;
            background-color: $red;
        }
    }

    &__other-prod{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lighten($grey-color, 5%);
        margin-top: 2em;
        padding-top: 0.5em;

        &__div{
            display: flex;
            flex-basis: 48%;
            align-items: center;
            padding: 1em 0;
        }

        &__div-sorry{
            text-align: center;
            width: 100%;
            font-weight: bold;
            padding-top: 1.4em;
        }

        &__img{
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            border-radius: 50%;
            object-fit: cover;
        }

        &__name{
            font-size: 0.9em;
            flex-grow: 1;
            padding: 0;
            padding-left: 1em;
        }
    }

}


@include pc{
    .topBrand{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1070px;
        margin: 0 auto;
    }

    .topBrands{
        flex-basis: 31.5%;

        &__desc{

            &__title{
                // font-size: 1.2em;
            }
        }

        &__rating{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


}
